{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row py-2">
          <div class="col-sm">
            <video height="300" id="ours"></video>
          </div>
          <div class="col-sm">
            <video height="300" id="remote"></video>
          </div>
        </div>
    </div>
    <button id="call" style="display: none" class="btn btn-outline-primary my-3 mx-3">
      Call
    </button>
    <button id="camera">Mute</button>

    <div id="data-container"
      data-created="{{ created }}"
      data-room="{{ room }}">
    </div>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>